@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.next,
.prev {
	position: absolute;
  top: calc(50% - 20px);
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}
